.customLabelWidth {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

.error,
.error input {
  border: 1px solid maroon !important;
}

.customInput {
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px !important;
}
